{$SITE_ADDRESS} {
	handle /auth/* {
		uri strip_prefix /auth
		reverse_proxy auth:9999
	}

	handle /rest/* {
		uri strip_prefix /rest
		reverse_proxy rest:3000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	header {
		-Server
	}
}
